<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h2>Company Home Page</h2>
    <hr>
    Welcome to the company home page!

    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>

    <!--Add a link to point to /leader for manager-->
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for Manager)
    </p>

    <hr>
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>